.feedback-mid {
  padding: 62px 0 42px;
  background:
    linear-gradient(
      271.54deg,
      #feb76c -1.67%,
      #f2894d 79.54%
    );

  & .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  & .text {
    max-width: 510px;
    font-size: 20px;
    line-height: 24px;
  }

  & p {
    margin-bottom: 18px;
    max-width: 680px;
    color: #fff;
  }

  & .btn {
    padding-left: 25px;
    padding-right: 25px;
  }
}

