.page-header {
  background-color: var(--bg-black);
  color: #fff;

  &_wrap {
    @apply --wrap-wide;
    @apply --flex-container;

    justify-content: space-between;
  }

  &_logo {
    @apply --flex-container;

    align-items: center;
  }
}
