button {
  cursor: pointer;
  font-family: var(--mainFont);
  outline: none;
}

.btn {
  @apply --trans;
  @apply --flex-center;

  padding: 18px 40px;
  background:
    linear-gradient(
      191.18deg,
      #7fb2ff -46.79%,
      #a660ff 151.97%
    );
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}
